.item_container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.item_img {
    position: relative;
}

.item_img>img {
    width: 100%;
    aspect-ratio: 20 / 25;
    object-fit: cover;
    position: absolute;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.active {
    opacity: 1 !important;
}

.item_details {
    z-index: 10;
    background-color: white;
    margin-top: 450px;
    height: 100%;
    width: 100%;
    justify-self: flex-end;
    align-self: flex-end;
    border-radius: 25px 25px 0px 0px;
}

.item_heading {
    margin: 20px 30px 10px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.item_name {
    font-size: 18px;
    font-weight: 700;
    line-height: 21.6px;
}

.item_location {
    font-size: 16px;
    font-weight: 500;
    line-height: 19.2px;
    color: #505259;
}

.item_offers {
    margin: 0px 30px 0px 30px;
    color: #D39171;
    font-size: 12px;
    font-weight: 600;
    line-height: 14.4px;
}

.item_description {
    margin: 40px 30px 0px 30px;
    color: #515151;
    font-size: 14px;
    font-weight: 500;
    line-height: 16.8px;
}

.item_carousal_dots {
    display: flex;
    justify-content: center;
    gap: 10px;
    position: absolute;
    top: 420px;
    left: 160px;
}

.item_carousal_dot {
    height: 10px;
    width: 10px;
    background-color: #afb2b5;
    border-radius: 5px;
    cursor: pointer;
    z-index: 99;
    transition: 0.5s ease-in-out;
}

.item_carousal_dot_active {
    background-color: #e34f44;
    width: 20px;
}

#star {
    font-size: 28px;
}

.item_rating {
    display: flex;
    align-items: center;
    gap: 5px;
}